
.ipynb_checkpoints/bulk_solution-checkpoint.csv
.ipynb_checkpoints/Gibsfreeenergy-checkpoint.ipynb
*.png
.ipynb_checkpoints/Gibsfreeenergy-checkpoint.ipynb
.ipynb_checkpoints/Gibsfreeenergy-checkpoint.ipynb
